@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    
}

/* header */
#img{
    margin: 10px;
    border-radius: 20px;
}
/* Fin header */

/* navegacion */
.navbar-nav li a{
    margin: 0px 20px 0px 20px;
}
.navbar-nav li a:hover{
    transform: scale(1.5);
    text-decoration: none;
    color: #090979 !important;
    
}
/* Fin navegacion */

/* Ventana */
#ventana{
    height: 340px;
    background: hsla(243, 100%, 7%, 0.151);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(9,9,121,0.5) 35%, rgba(0,212,255,0.5) 100%);
}

#textoVentana{
    color: white;
    text-align: center;
}
#textoVentana h1{
   margin: 200px 0px 30px;
   font-size: 70px;
}
/* Fin ventana */

/* Carrusel Productos */
#contenedorCarrusel h2{
    color: #090979;
    margin-bottom: 20px;
}
#contenedorCarrusel{
    padding: 40px;
}
#contenedorCarrusel h2{
    margin-bottom: 20px;
    
}

.carrouselProductos{
    background-color: whitesmoke;
    padding: 20px;
}



/* Fin carrusel productos */

/* Busqueda */
.busqueda{
    background-color: whitesmoke;
    height: 250px;
}
.busqueda h2{
    color: #090979;
    margin-top: 60px;
}
/* Fin busqueda */

/* Listado productos */
.contenedorProductos{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
    
}
 #titulo{
    margin: 20px;
    color: #090979;
 }
 #cuadradoPrecio{
    background-color: #090979 !important;

 }
 

 #productName{
    color: #090979 !important;
 }
.producto{
    width: 350px;
    margin: 40px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
} 
.producto:hover{
    transform: scale(1.2);
} 
.producto img{
   width: auto;
   border-radius: 20px;
   height: 400px;
}

.producto h3{
    color: #090979;
}
#tituloModal{
    
    border-left: 5px solid #090979 !important;
    
}

#grupoBotones{
    width: 200px;
    
}
#grupoBotones button{
    background-color: #090979;
    border: #090979;
}
#grupoBotones button:hover{
    background-color: #0a0aaa;
}

/* Fin listado productos */

/* Contacto */
.borderContacto {
    border-left: 1px solid #090979 !important;
}

.borderContacto h6{
    color: #090979 !important;
}
.btn{
    background-color: #090979 !important;
    border: #090979 !important;
}

.btn:hover{
    background-color: #0a0aaa !important;
}

.bg-light i{
    color: #090979 !important;
}
/* Fin contacto */

/* Carrito de la compra */

.cart{
    background-color: whitesmoke;
}
/* Fin carrito de la compra */

/* Info prodcut */
.contenedorImagen{
    height: 300px;
}
/* Fin info prodcut */

/* Login */
    #login{
        background-color: whitesmoke;
    }

    #login input{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #login button{
        margin-bottom: 20px;
        color: white;
    }
/* Fin login */

/* Register */
#register{
    background-color: whitesmoke;
}
#register button{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
/* Fin register */

/* Boton scroll */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #090979;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.flechaBoton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* Boton scroll */

/* Pie de página */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    font-family: 'Open Sans', sans-serif;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/* Fin pie de página */